<header class= "navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Sample App", root_path, id:"logo",class:"navbar-text" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" type="button" data-toggle="dropdown" id="top-dropdown-menu">
                Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="top-dropdown-menu">
                <li role="presentation"><%= link_to "Profile", current_user %></li>
                <li role="presentation"><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                  <%= link_to "Sign out", signout_path, method: "delete" %>  
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
